[Unit]
Description=Harikube Middleware
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
RestartSec=5

ExecStartPre=-/usr/bin/docker rm -f harikube_middleware
ExecStart=/usr/bin/docker run --rm --name harikube_middleware --net=host -v harikube_db:/db harikube:target --listen-address=0.0.0.0:2369 --endpoint='sqlite:///db/main.db?_journal=WAL&cache=shared'
ExecStop=/usr/bin/docker rm -f harikube_middleware

[Install]
WantedBy=multi-user.target