name: repo release

on:
  release:
    types:
      - created
  workflow_dispatch: {}

permissions:
  contents: write

env:
  GITHUB_TOKEN: ${{ secrets.GIT_TOKEN  }}

jobs:
  release-kine:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - uses: actions/checkout@v4
    - name: Render manifests
      run: make kine-release
      env:
        TAG: ${{ github.ref_name }}
    - name: Create release
      if: ${{ !startsWith(github.ref, 'refs/heads/dev-') }}
      uses: mhmxs/milestone-release-action@main
      with:
        milestone-title: ${{ github.ref_name }}
        pre-body: |
            # Kine
            
            This Kind version supports storage-side filtering.  You have to use a patched Kubernetes version to take full advantages.

            ## Docker

            For standalon version, please use one of the pre-built [Kubernetes images](https://github.com/HariKube/kubernetes-patches/releases).

            ```bash
            docker pull ${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_ORG }}/kine:${{ github.ref_name }}
            ```

            ## Kubernetes with vCluster

            You can run Kine on any cluster via vCluster.

            ```bash
            kubectl apply -f https://github.com/HariKube/kine/releases/download/${{ github.ref_name }}/vcluster-kine-sqlite-${{ github.ref_name }}.yaml
            vcluster connect kine
            ```

            > For access control, the vCluster setup keeps things simple. Create your ServiceAccount, generate a secret with the command below, and vCluster will sync the secret to the host cluster.

            ```yaml
            apiVersion: v1
            kind: Secret
            metadata:
              name: remote-your-service-account-name
              annotations:
                kubernetes.io/service-account.name: "your-service-account-name"
            type: kubernetes.io/service-account-token
            ```

            On the host cluster you can fetch the connection details.

            ```bash
            TOKEN=$(kubectl get secret -n kine remote-your-service-account-name-x-default-x-kine -o jsonpath='{.data.token}' | base64 -d)
            CA_CERT=$(kubectl get secret -n kine remote-your-service-account-name-x-default-x-kine -o jsonpath='{.data.ca\.crt}' | base64 -d)
            ```

            ## Release Notes

        draft: true
        prerelease: ${{ startsWith(github.ref, 'refs/heads/rc-') || startsWith(github.ref, 'refs/heads/beta-') || startsWith(github.ref, 'refs/heads/alpha-') }}
        files: package/vcluster-kine-sqlite-${{ github.ref_name }}.yaml
  