name: Unit Test
on:
  push:
    branches: [main, master]

  pull_request:
    branches: [main, master]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v5
    - name: Go Unit Tests
      run: go test -cover -tags=test $(go list ./... | grep -v nats)
    - name: Go Unit Tests (nocgo)
      run: go test -cover -tags=test $(go list ./... | grep -v nats)
      env:
        CGO_ENABLED: "0"
